---
import ContactLayout from "@/layouts/ContactLayout.astro"
import PageForm from "@/components/common/PageForm.tsx"
import ArrowButton from "@/common/ArrowButton.astro"
import Card from "@/components/contacto/Card.astro"
import Email from "@/icons/Email.astro"
---
<ContactLayout title="Contactanos!">
  <main class="w-full h-[100dvh] grid place-items-center">
    <section class="w-full h-fit my-auto flex justify-center p-6 bg-secondary">
      <aside class="hidden sm:flex sm:flex-col w-[40dvw] text-primary">
      <a href="/" class="flex items-center">
        <img class="size-12" src="/img/logoPrimary.png" alt="">
        <h2 class="text-xl font-bold mt-2">Ciembra</h2>
      </a>
      <Card
        title="Envianos un correo!"
        subtitle="Nuestro equipo siempre esta listo para ayudar."
        strong="hi@ ciembra.com">
        <Email  class="size-8 mr-6"/>
      </Card>
      <Card 
        title="Llamanos!"
        subtitle="Sabados a domingos de 8am a 5pm"
        strong="+58 (412) 201-0421">
        <Email  class="size-8 mr-6"/>
      </Card>
    </aside>
    <article class="w-full max-w-[400px] h-fit md:max-w-full bg-primary rounded-3xl p-6 text-secondary">
      <h1 class="text-2xl m-0 font-semibold">
        Tienes alguna idea? Nosotros tenemos las habilidades, Hagamos equipo.
      </h1>
      <strong class="text-sm font-normal">Dinos mas acerca de ti y sobre lo que tienes en mente.</strong>
      <PageForm>
        <ArrowButton anchor={true} 
          ref="/Contacto" 
          label='Contactanos!'/>
      </PageForm>
    </article>
    </section>
  </main>
</ContactLayout>