---
import Layout from '@/layouts/Layout.astro';
import PageHero from '@/components/PageHero.astro'
import Card from '@/components/desarolloSoftware/Card.astro';
// COMMON COMPONENTS
import HeaderBadge from '@/common/HeaderBadge.astro';
import Accordion from '@/components/common/Accordion';
// ICONS
import Shop from '@/icons/Shop.astro';
import Braces from '@/icons/Braces.astro'
import Design from '@/icons/Design.astro'
import Clock from '@/icons/Clock.astro'
// TEXT
import { AccordionItems } from '@/lib/text';

const header = [
    {label:'Desarrollo', ref:'#desarrollo'},
    {label:'Productos', ref:'#productos'},
    {label:'Equipo', ref:'#equipo'}
]
---

<Layout title='ciembra' header={header}>
    <PageHero 
        title='Desarrollo de Software_' 
        subTitle='Creamos soluciones que generan resultados'
        text='Entregamos soluciones digitales con foco en innovación y gestión de valor. Además de desarrollo de software, entregamos estrategia, método y resultados en aplicaciones, sistemas y plataformas digitales.'/>
    <section id='desarrollo' class='section pt-36 justify-center'> 
        <HeaderBadge badgeLabel='DESARROLLO DE SOFTWARE' 
            title='Equipos Multidisciplinarios'
            className='flex-col md:flex-row items-start md:items-center gap-4 mb-4'/>
        <div class="w-full md:w-5/12 ">
            <Card title='Estrategia de producto' 
                text='Creamos una estrategia enfocada en maximizar el valor del producto, para asi cumplir las metas y objetivos comerciales.'>
                <Shop class="size-full"/>
            </Card>
        </div>
        <div class="w-full md:w-5/12">
            <Card title='Tecnologia' 
                text='Contamos con expertos en arquitectura, infraestructura y cloud para crear las mejores soluciones y trabajar en proyectos tecnológicos desafiantes.'>
                <Braces class="size-full"/>
            </Card>
        </div>
        <div class="w-full md:w-5/12">
            <Card title='Diseño' 
                text='Nuestro equipo tiene experiencia en UX Design y UI Design, lo que nos permite crear soluciones centradas en el usuario que ofrecen una buena usabilidad.'>
                <Design class="size-full"/>
            </Card>
        </div>
        <div class="w-full md:w-5/12">
            <Card title='Agilidad' 
                text='Trabajamos para garantizar un proceso transparente y adaptativo con entregas frecuentes, aumentando la velocidad del equipo con cada mejora.'>
                <Clock class="size-full" />
            </Card>
        </div>
    </section>
    <section id="productos" class="section pt-36 lg:pb-44 justify-center">
        <HeaderBadge badgeLabel='TIPOS DE PRODUCTOS' 
            title='Soluciones digitales transformadoras'
            className='flex-col md:flex-row items-start md:items-center gap-4 mb-2 lg:mb-12'/>
        
        <div class="w-full relative flex flex-col lg:flex-row lg:items-center lg:justify-end">
            <!-- Phone list -->
            <ul class="lg:hidden text-primary">
                {AccordionItems.map(({title,text})=>(
                    <li class="w-full mb-4">
                        <h3 class="text-xl font-bold mb-2">- {title}</h3>
                        <p class="text-sm text-pretty pr-10">{text}</p>
                    </li>
                ))}
            </ul>
            <!-- lg accordion -->
            <div class="w-full h-full hidden lg:flex items-center">
                <Accordion client:visible/>
            </div>
            <picture class="w-full">
                <img loading="lazy" 
                  decoding="async" 
                  src="/img/desarrolloSoftware1.jpg" 
                  alt="Desarrollo de Software – Soluciones Digitales - Ciembra"  />
            </picture>
        </div>
    </section>
    <section id="equipo" class="section items-center justify-center pt-24 text-primary">
        <h2 class="w-full md:text-center text-5xl md:text-6xl font-black mb-4">
            ¿Formamos Equipo?
        </h2>
        <article class="w-full min-h-[420px] max-w-[300px] flex flex-col justify-between border-2 border-primary">
            <h3 class="text-center text-3xl font-bold m-4">Premium</h3>
            <p class="px-4">Ideal para quienes están desarrollando versiones iniciales del producto.</p>
            <ul class="flex flex-col gap-y-1 py-4 pl-20 font-medium">
                <li class="list-disc">Wireframe</li>
                <li class="list-disc">Desarrollo</li>
                <li class="list-disc">Mantenimiento</li>
            </ul>
            <a href="https://wa.me/584122010421?text=Me%20gustaria%20obtener%20mas%20informacion%20de%20sus%20servicios" class="w-full bg-primary text-secondary text-xl font-bold text-center py-6 cursor-pointer">Quiero hablar con un experto</a>
        </article>
        <article class="w-full min-h-[420px] max-w-[300px] flex flex-col justify-between border-2 border-primary">
            <h3 class="text-center text-3xl font-bold m-4">Star</h3>
            <p class="px-4">Ideal para quienes tienen un producto en fase de escala y buscan un rápido crecimiento.</p>
            <ul class="flex flex-col gap-y-1 py-4 pl-20 font-medium">
                <li class="list-disc">Wireframe</li>
                <li class="list-disc">Prototype</li>
                <li class="list-disc">Desarrollo</li>
                <li class="list-disc">Testing</li>
                <li class="list-disc">Mantenimiento</li>
                <li class="list-disc">Cambios</li>
            </ul>
            <a href="https://wa.me/584122010421?text=Me%20gustaria%20obtener%20mas%20informacion%20de%20sus%20servicios" class="w-full bg-primary text-secondary text-xl font-bold text-center py-6 cursor-pointer">Quiero hablar con un experto</a>
        </article>
    </section>
</Layout>

<style>
    .section{
        @apply w-full flex flex-wrap px-10 gap-4
    }
</style>