---
import Layout from '@/layouts/Layout.astro';
import PageHero from '@/components/PageHero.astro'
import Card from '@/components/desarolloSoftware/Card.astro';
// COMMON COMPONENTS
import HeaderBadge from '@/common/HeaderBadge.astro';
import AccordionItem from '@/components/common/AccordionItem';
import Accordion from '@/components/common/Accordion';
// ICONS
import Shop from '@/icons/Shop.astro';
import Braces from '@/icons/Braces.astro'
import Design from '@/icons/Design.astro'
import Clock from '@/icons/Clock.astro'

const header = [
    {label:'Equipos', ref:'#equipos'},
    {label:'Uso', ref:'#Uso'},
    {label:'Proceso', ref:'#Proceso'},
    {label:'Contacto', ref:'#contacto'}
]
---

<Layout title='ciembra' header={header}>
    <PageHero 
        title='Desarrollo de Software_' 
        subTitle='Creamos soluciones que generan resultados'
        text='Entregamos soluciones digitales con foco en innovación y gestión de valor. Además de desarrollo de software, entregamos estrategia, método y resultados en aplicaciones, sistemas y plataformas digitales.'/>
    <section id='equipos' class='section pt-36'> 
        <HeaderBadge badgeLabel='DESARROLLO DE SOFTWARE' 
            title='Equipos Multidisciplinarios'
            className='flex-col md:flex-row items-start md:items-center gap-4 mb-4'/>
        <div class="w-5/12 ">
            <Card title='Estrategia de producto' 
                text='Creamos una estrategia enfocada en maximizar el valor del producto, para asi cumplir las metas y objetivos comerciales.'>
                <Shop class="size-full"/>
            </Card>
        </div>
        <div class="w-5/12">
            <Card title='Tecnologia' 
                text='Contamos con expertos en arquitectura, infraestructura y cloud para crear las mejores soluciones y trabajar en proyectos tecnológicos desafiantes.'>
                <Braces class="size-full"/>
            </Card>
        </div>
        <div class="w-5/12">
            <Card title='Diseño' 
                text='Nuestro equipo tiene experiencia en UX Design y UI Design, lo que nos permite crear soluciones centradas en el usuario que ofrecen una buena usabilidad.'>
                <Design class="size-full"/>
            </Card>
        </div>
        <div class="w-5/12">
            <Card title='Agilidad' 
                text='Trabajamos para garantizar un proceso transparente y adaptativo con entregas frecuentes, aumentando la velocidad del equipo con cada mejora.'>
                <Clock class="size-full" />
            </Card>
        </div>
    </section>
    <section id="Soluciones" class="section pt-40 pb-72">
        <HeaderBadge badgeLabel='TIPOS DE PRODUCTOS' 
            title='Soluciones digitales transformadoras'
            className='flex-col md:flex-row items-start md:items-center gap-4 mb-4'/>
        <div class="w-full relative">
            <Accordion>
                <AccordionItem title="Aplicaciones Moviles" 
                    text='Creamos aplicaciones utilizando tecnologías nativas o híbridas. Trabajamos en el desarrollo rápido de software para probar el negocio y en la evolución hacia arquitecturas más robustas.' 
                    client:visible/>
                <AccordionItem title="Software Personalizados" 
                    text='Desarrollamos soluciones a medida para automatizar procesos, transformar servicios manuales en digitales, mejorar la gestión, aumentar las ventas o integrar software de terceros.' 
                    client:visible/>
                <AccordionItem title="Plataformas SASS y APIs" 
                    text='Trabajamos en la construcción de plataformas escalables y de alto rendimiento para cumplir con las previsiones de alto crecimiento.' 
                    client:visible/>
                <AccordionItem title="Mantenimiento" 
                    text='Realizamos mantenimiento y evolución de software personalizado, entregando constantes mejoras y nuevas funcionalidades a los usuarios.' 
                    client:visible/>
            </Accordion>
            <picture>
                <img loading="lazy" 
                  class="h-full absolute top-0 right-0"
                  decoding="async" 
                  src="/img/desarrolloSoftware1.jpg" 
                  alt="Desarrollo de Software – Soluciones Digitales - Ciembra"  />
            </picture>
        </div>
    </section>
</Layout>

<style>
    .section{
        @apply w-full flex flex-wrap px-10  gap-4 justify-center
    }
</style>