---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import Pill from '../components/Pill.astro';
import Whatsapp from '../components/icons/Whatsapp.astro';
import ServiceCard from '../components/ServiceCard.astro';
---

<Layout title="ciembra">
    <Section id='inicio' classList='flex flex-col lg:flex-row pt-40 px-10'>
        <article class="lg:w-2/3">
            <h2 class="text-4xl lg:text-5xl text-pretty text-primary font-bold mb-4">
                Transformamos tus ideas en productos digitales de impacto
            </h2>
            <p class="lg:block text-pretty">
                Combinamos estrategia y diseño con excelencia en el desarrollo de software para construir productos digitales únicos. Nuestro proceso de extremo a extremo nos permite cocrear soluciones innovadoras de forma ágil e incremental.
            </p>
        </article>
        <div class="flex lg:block lg:p-6 my-4 lg:my-0">
            <Pill href="https://wa.me/584122010421?text=Me%20gustaria%20obtener%20mas%20informacion%20de%20sus%20servicios" 
                id="whatsappPill">
                Whatsapp
                <Whatsapp class="size-6 "/>
            </Pill>
        </div>
    </Section>
    <Section id='servicios' classList="flex items-center flex-wrap text-primary gap-x-6 pt-20 px-10">
        <span class="text-sm bg-primary text-secondary rounded-full px-3 py-1 mt-2">
            SERVICIOS
        </span>
        <h2 class="text-3xl lg:text-5xl font-black py-4">Lo que ofrecemos</h2>
        <p class="w-full lg:text-xl">
            Reunimos las mejores prácticas para guiar a nuestros clientes en sus desafíos de creación y desarrollo de software de forma ágil, incremental y colaborativa.
        </p>
        <ServiceCard 
            title='Estrategia de diseño' 
            text='Diseñamos soluciones únicas y centradas en el usuario que den como resultado productos viables con un alto poder de participación. Respaldamos todo, desde la investigación hasta el lanzamiento de su solución con nuestras capacidades avanzadas de diseño y estrategia.'
            redirect='DisenioTransformacion'
            nav={[ 
                { 
                    text: 'Diseño para la transformación digital', 
                    ref:'DisenioTransformacion' 
                },
                // { 
                //     text: 'Diseño de productos digitales', 
                //     ref:'DisenioProductos' 
                // },
                // { 
                //     text: 'Estudio de mercado', 
                //     ref:'EstudioMercado' 
                // }
            ]}/>
        <ServiceCard 
            title='Desarrollo de software' 
            text='Entrega valor a tus clientes de forma ágil e incremental, en continua interacción con los usuarios y el mercado. Desarrollar y modernizar aplicaciones, plataformas, sistemas y soluciones de datos con equipos multidisciplinarios o outsourcing.'
            redirect='DesarrolloSoftware'
            nav={[ 
                {   
                    text: 'Desarrollo de software', 
                    ref:'DesarrolloSoftware' 
                },
                // { 
                //     text: 'Soporte de software', 
                //     ref:'soporteSoftware' 
                // },
                // { 
                //     text: 'Modernizacion de software', 
                //     ref:'modernizacionSoftware' 
                // },
                // {
                //     text: 'Outsourcing', 
                //     ref:'outsourcing'
                // }
            ]}/>
    </Section>
</Layout>
<style>
.sendButton:hover span{
    @apply translate-x-1
}
</style>