<footer class="flex flex-wrap items-center justify-between w-full bg-primary text-secondary p-10 m-0">
    <h2 class="text-4xl font-black">
        siembra
    </h2>
    <nav class="flex gap-x-6 font-medium">
        <a href="#top" class="hover:border-b-2 border-b-secondary">
            Pagina inicial
        </a>
        <a href="#servicios" class="hover:border-b-2 border-b-secondary">
            Servicios
        </a>
        <a href="#contacto" class="hover:border-b-2 border-b-secondary">
            Contacto
        </a>
    </nav>
    <hr class="w-full h-px my-2 bg-secondary border-2 mb-6">
    <span>
        Derechos reservados de siembra.co
    </span>
    <ul>
        <li>+58 (412) 201-0421</li>
    </ul>
</footer>