---
import ArrowButton from "@/common/ArrowButton.astro"
import FooterForm from "@/common/FooterForm.tsx"
---
<div class="relative z-20">
    <section id='contacto' class='w-full flex flex-col  text-primary pt-40 m-0'>
        <div class="w-full flex flex-col md:flex-row items-start md:items-center gap-x-6 px-10">
            <span class="text-sm bg-primary text-secondary rounded-full px-3 py-1 mt-2">
                CONTACTO
            </span>
            <h2 class="text-5xl font-black py-4">
                ¿Hablemos de tus proyectos?
            </h2>
        </div>
        <article class="w-full flex flex-col lg:flex-row items-start gap-y-4 justify-between bg-primary text-secondary py-10 md:py-14 px-10 md:mt-4">
            <p class="w-full lg:w-1/2 text-lg lg:text-xl text-pretty font-medium lg:px-10">
                ¿Quiere saber más sobre cómo trabajamos, hablar sobre sus desafíos o hacer preguntas? Habla con nosotros. ¡Nos encanta intercambiar ideas sobre productos digitales!
                <br><br>
                Ponte en contacto y conoce la forma suave de desarrollar software.
            </p>
            <FooterForm client:visible>
                <ArrowButton type="submit" label="Enviar" />
            </FooterForm>
            <div class="lg:hidden">
                <ArrowButton 
                    type='submit' 
                    label='Contactanos!'/>
            </div>
        </article>
    </section>
    <footer class="flex flex-wrap items-center justify-between w-full bg-primary text-secondary p-10 m-0">
        
        <h2 class="text-4xl font-black mb-4">
            Ciembra
        </h2>
        <nav class="flex gap-x-6 font-medium">
            <a href="#top" class="hover:border-b-2 border-b-secondary">
                Pagina inicial
            </a>
            <a href="#servicios" class="hover:border-b-2 border-b-secondary">
                Servicios
            </a>
            <a href="#contacto" class="hover:border-b-2 border-b-secondary">
                Contacto
            </a>
        </nav>
        <hr class="w-full h-px my-2 bg-secondary border-2 mb-6">
        <span>
            Derechos reservados de ciembre co.
        </span>
        <ul>
            <li>+58 (412) 201-0421</li>
        </ul>
    </footer>
</div>