---

---
<header class=`
    w-dvw h-[10dvh]
    flex items-center justify-center gap-x-8
    sticky top-0 z-50
    bg-secondary text-primary
    font-bold`>
    <a href="#inicio" class="nav-item">
        Inicio
    </a>
    <a href="#servicios" class="nav-item ">
        Servicios
    </a>
    <a href="#contacto" class="nav-item">
        Contacto
    </a>
    <a href="#empresa" class="nav-item">
        Empresa
    </a>
</header>

<style>
    .nav-item{
        @apply hover:scale-110 transition text-lg
    }
</style>