---
import {type HeaderNav} from '../interface/interfaces.ts'
interface Props{
    header?:Array<HeaderNav>;
}
const { header } = Astro.props
---
<header class={!header ? `
    w-full min-[5dvh]
    sticky top-0 z-10
    bg-secondary text-primary
    font-bold` 
    : `
    w-full h-[10dvh]
    sticky top-0 z-10
    bg-secondary text-primary
    font-bold`}>
    <a href="/">
        <img src="/img/logoPrimary.png" class="w-14 absolute ml-10 top-0 left-0" alt="">
    </a>
    {!header ? (
        <ul id="navMenu" class="flex w-full items-center justify-center 
            gap-x-4 p-4">
            <a href="#inicio" class="nav-item">
                Inicio
            </a>
            <a href="#servicios" class="nav-item">
                Servicios
            </a>
            <a href="#contacto" class="nav-item">
                Contacto
            </a>
        </ul>
    )
    :(
        <button id="toggleMenu"
            class="grid md:hidden place-items-center absolute top-0 right-0 
                size-20 z-20
                hover:cursor-pointer">
                <div class="w-16 h-2 grid place-items-center
                    bg-primary rounded-full transition-all duration-150 
                    before:content-[''] before:absolute before:w-16 before:h-2 before:bg-primary before:rounded-full before:-translate-y-4 before:transition-all before:duration-150 
                    after:content-[''] after:absolute after:w-16 after:h-2 after:bg-primary after:rounded-full after:translate-y-4 after:transition-all after:duration-150">
                </div>
        </button>
        <ul id="navMenu" class="w-full md:hidden h-screen bg-secondary
            flex flex-col items-center justify-start gap-8 px-4 pt-20 transition-all toggle">
            { header.map(({label,ref}) => <a href={ref} class="nav-item navToggle text-3xl">{label}</a> )}
        </ul>
        <ul id="navMenu" class="hidden md:flex w-full items-center justify-center 
            gap-8 p-4 transition-all">
            {header.map(({label,ref})=>(
                <a href={ref} class="nav-item">{label}</a>
            ))}
        </ul>
    )}

</header>
<script>
    const burger = document.getElementById('toggleMenu')
    const nav = document.getElementById('navMenu')

    window.addEventListener('click', (e:any)=>{
        if(e.target.matches('.navToggle')){
            burger?.classList.toggle("hamburger-toggle")
            nav?.classList.toggle("toggle")
        }
    })
        
    burger?.addEventListener('click', ()=> {
        console.log('a')
        burger.classList.toggle("hamburger-toggle")
        nav?.classList.toggle("toggle")
    })
</script>
<style>
    .nav-item{
        @apply hover:scale-110 transition md:text-lg
    }
    .hamburger-toggle {
        @apply [&>div]:h-0 [&>div]:bg-white [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
    }
    .toggle{
        @apply -translate-y-full
    }
</style>