---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions';
import {type HeaderNav} from '../interface/interfaces.ts'


interface Props {
	title: string;
	header?:Array<HeaderNav>;
}

const { title,header } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-secondary overflow-x-hidden w-screen">
	<head>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header header={header}></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
	}
	body{
		scroll-behavior: none;
	}
	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
</style>